body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

#map {
    position: fixed;
    z-index: 99999;
    right: 0;
    bottom: 0;
    width: 25%;
    /* height: auto; */
    opacity: 0;
    visibility: hidden;
    transition: all 180ms ease-out;
}

#map.show {
    visibility: visible;
    opacity: 1;
}

#map img {
    width: 100%;
}

area {
    cursor: pointer;
}

/* the style for the header */
.header {
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
}

.header nav {
    display: flex;
    color: #fff;
    padding: 10px;
    align-items: center;
}

.header>* {
    min-width: 33%;
}

.header nav #location {
    font-family: "Open Sans";
    text-align: center;
}

.header nav>div>ul {
    min-width: 250px !important;
    display: inline-block !important;
}

.header nav ul>li {
    cursor: pointer;
    text-align: center;
    position: relative;
    list-style-type: none;
}

.header nav ul li>span {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    background-color: #054705;
    border-bottom: 2px solid #138613;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header nav ul li>span:active,
.header nav ul li:hover>span {
    border-bottom: 2px solid #054705;
}

.header nav ul li>span .fas {
    font-size: 12px;
    margin-right: 25px;
}

.header nav ul li>span a {
    color: #fff;
    padding: 6px 15px;
}

.header nav ul>li:hover ul {
    display: block;
}

.header nav ul li ul {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 14px;
    max-height: 300px !important;
    overflow-y: scroll;
}

.header nav ul li ul li:hover {
    background-color: #337c16;
}

.header nav ul li ul li:hover a {
    color: #ffffff;
}

.header nav ul li ul li {
    padding: 0;
    background-color: #004d00;
}

.header nav ul li ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.header>div {
    text-align: center;
}

.header img {
    height: 100%;
    padding: 10px;
}

/* Hide controls when width is too small */
@media (max-width: 750px) {
    .header {
        height: auto;
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .header nav {
        display: block;
        padding: 0 10px 10px 10px;
    }

    .header nav #buildings {
        padding: 0 15px;
        width: 100%;
    }

    .header nav>div>ul {
        margin: 0;
    }

    .header img {
        width: 65%;
    }

    #map.show {
        visibility: hidden;
        opacity: 0;
    }
}

/* the style for the iframe */
.frame {
    height: 100vh;
    width: 100vw;
    border: 0;
    display: block;
    z-index: -1;
}

.list {
    font-family: sans-serif
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    min-width: 300px;
    /* Full width */
    height: 500px;
    /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    opacity: 0%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 100%;
    width: 100%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}