body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

* {
    box-sizing: border-box;
}
/* the style for the DLSU logo */
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}
/* the style for the header */
.header {
    background-color: #087830;
    position: relative;
    top: 0px;
    left: 0px;
}
/* the style for the iframe */
.frame{
    height: 100vh;
    width: 100vw;
}